.cell {
    padding: 1rem 0rem 0rem;
    margin: 1em;
    width: 300px;
    min-height: 220px;
    vertical-align: top;
    display: inline-block;
}

.bottom-down{
    bottom:0;
    margin: 0;
    position:absolute;
    right:0;
}

.price{
    font-size:16px;
    margin-top:20px;
    margin-bottom: 0;
}

.quantity-container{
    position: absolute;
    bottom: 0px;
}

.minus-button{
    display: inline;
}

.quantity-description{
    display: inline;
    padding: 6px 6px;
    border-top: 0.5px solid #bababa;
    border-bottom: 0.5px solid #bababa;
}