.top-container {
    background-color: #0057a2;
    padding: 30px;
    color: #ffffff;
    text-align: center;
}

.header {
    padding: 0px 16px;
    background: #e76e55;
    color: #f1f1f1;
}

.content {
    padding: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.sticky + .content {
    padding-top: 40px;
}

.header-title{
    display:inline-block;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
}

.main-title{
    display:inline-block;
    font-size: 24px;
    color: #ffffff;
    margin: 13px;
    text-align: center;
    width: 10%;
}

.logo{
    padding: 0px 20px;
    width: 10%;
    display: inline-block;
}

.navbar {
    float: right;
    overflow: auto;
    width: 80%;
}

.navbar i {
    vertical-align: text-top;
}

.navbar a {
    float: right;
    padding: 10px 18px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color: #ffbfbf;
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}