.sign-up-container{
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.option{
    padding: 20px;
    width: 100%;
}

.option button {
    outline:none;
}

.option span {
    left:0;
    outline:none;
}