#outer-container {
    border-top: 4px solid #000000;
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}

#sidebar {
    border-left: 4px solid #000000;
	display: table-cell;
	width: 30%;
	vertical-align: top;
	padding-top:16px;
}

#content {
	display: table-cell;
	max-width: 70%;
	vertical-align: top;
	padding-top:16px;
}

.pokelist-container {
    height: auto;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.section-container h3{
    text-align: center;
}

.section-title{
    font-size: 24px;
    padding-top: 10px;
	text-align: center;
	width:100%;
}

.fixed {
	position: fixed;
    width: 35%;
    bottom: -16px;
    text-align: center;
    background-color: #ffffff;
    border-top: 4px solid #000000;
    z-index: 10000;
} 

.loading {
    text-align: center;
    padding-top: 16%;
}